In [18]:
'''
Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

оценка 2 и ниже — низкий рейтинг;
оценка 4 и ниже — средний рейтинг;
оценка 4.5 и 5 — высокий рейтинг.
Результат классификации запишите в столбец class.
'''
import pandas as pd

ratings=pd.read_csv(r'C:\Users\Eduard\Downloads\ml-latest-small\ml-latest-small\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [20]:
def class_movies(row):
    if row['rating']<= 2.0:
        return 'низкий рейтинг'
    elif 2.0 < row['rating'] < 4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [31]:
ratings['class'] = ratings.apply(class_movies, axis = 1)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  высокий рейтинг

In [35]:
'''
Задание 2
Используйте файл keywords.csv.
Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. 
Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. 
Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
‘Центр’: [‘москва’, ‘тула’, ‘ярославль’],
‘Северо-Запад’: [‘петербург’, ‘псков’, ‘мурманск’],
‘Дальний Восток’: [‘владивосток’, ‘сахалин’, ‘хабаровск’]
}

Результат классификации запишите в отдельный столбец region.
'''
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

cities = []
for values in geo_data.values():
    for i in values:
        cities.append(i)

cities

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [58]:
line = 'авито тула 126168'
data = line.split(' ')
def check(y):
    for i in y:
        if i in cities:
            for items in geo_data.items():
                if i in items[1]:
                    print(items[0])
check(data)

Центр

In [62]:
keywords= pd.read_csv(r'C:\Users\Eduard\Downloads\ml-latest-small\ml-latest-small\keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [64]:
def region_in_keyword(line):
    data = line['keyword'].split(' ')
    i=0
    for word in data:
        if word in cities:
            for items in geo_data.items():
                if word in items[1]:
                    i+=1
                    return items[0]
    if i==0:
        return 'undefined'

In [74]:
keywords['region'] = keywords.apply(region_in_keyword, axis=1)
keywords.head(30)

                          keyword     shows     region
0                              вк  64292779  undefined
1                   одноклассники  63810309  undefined
2                           порно  41747114  undefined
3                            ютуб  39995567  undefined
4                       вконтакте  21014195  undefined
5      одноклассники моя страница  19976138  undefined
6                            майл  15144673  undefined
7                           авито  14786593  undefined
8                      переводчик  14453469  undefined
9                          яндекс  13344734  undefined
10                сбербанк онлайн  10725673  undefined
11                           mail   7687204  undefined
12                           игры   6075762  undefined
13                        youtube   5729958  undefined
14         вконтакте моя страница   5971451  undefined
15                           секс   5431732  undefined
16                           гугл   5175471  undefined
17                             dr   4880955  undefined
18                    алиэкспресс   4879645  undefined
19                        рамблер   4540421  undefined
20                    фильмы 2016   4486635  undefined
21                         погода   4344510  undefined
22                             vk   4330448  undefined
23              ютуб видеохостинг   4215267  undefined
24                          дойки   4133424  undefined
25  одноклассники социальная сеть   4018230  undefined
26                       мультики   3866664  undefined
27                        контакт   3815111  undefined
28                        фейсбук   3669993  undefined
29                    порно видео   3858938  undefined

In [78]:
keywords[(keywords['region'] != 'undefined')]

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]