In [32]:
''' Homework 10
Задание 1
Датасет для домашнего задания вы найдете в разделе “Материалы к домашнему заданию” к этому занятию.
Определите, какому фильму было выставлено больше всего оценок 5.0
'''
import pandas as pd
movies=pd.read_csv(r'C:\Users\Eduard\Downloads\10._Об_ЃҐл_pandas (1)\10._Об≠ЃҐл_pandas\Ф†©Ђл ™ І†§†≠®о ь1\movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
ratings=pd.read_csv(r'C:\Users\Eduard\Downloads\10._Об_ЃҐл_pandas (1)\10._Об≠ЃҐл_pandas\Ф†©Ђл ™ І†§†≠®о ь1\ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [94]:
movies_info = movies.set_index(keys='movieId', drop=False)

top_films = ratings.query('rating == {}'.format(5))

best_film_id = top_films['movieId'].value_counts().idxmax()

print(f'Выставлено больше всего оценок 5.0: {movies_info.loc[best_film_id, "title"]}')

Выставлено больше всего оценок 5.0: Shawshank Redemption, The (1994)

In [82]:
''' Задание 2
По данным файла power.csv (находится в “Материалы к домашнему заданию”) посчитайте суммарное потребление стран Прибалтики 
(Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.
'''
power=pd.read_csv(r'C:\Users\Eduard\Downloads\10._Об_ЃҐл_pandas (1)\10._Об≠ЃҐл_pandas\Ф†©Ђл ™ І†§†≠®о ь2\power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [84]:
transactions=pd.read_csv(r'C:\Users\Eduard\Downloads\10._Об_ЃҐл_pandas (1)\10._Об≠ЃҐл_pandas\Ф†©Ђл ™ І†§†≠®о ь2\transactions.csv')
transactions.head()

   Year  Month    ID Product  Amount  Price  Total  Cost
0  2017      1  t001      A1       7   2904  20328  1200
1  2017      1  t002      A2       2   1896   3792  1100
2  2017      2  t003      A1       5   2904  14520  1200
3  2017      2  t004      A4       1   8618   8618  4200
4  2017      2  t005      A5       3   5175  15525   500

In [92]:
df=power.query('country in ("Latvia", "Lithuania", "Estonia") '
               '& category in (4, 12, 21) & 2005<year<2010 & quantity >= 0')
print(f'суммарное потребление стран Прибалтики: {df['quantity'].sum()}')

суммарное потребление стран Прибалтики: 164555.0